<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.testfairy.cordova-plugin" version="2.44.0">
    <name>TestFairy Plugin</name>
    <description>TestFairy SDK plugin for Cordova</description>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/testfairy.js" name="TestFairy">
        <clobbers target="TestFairy" />
    </js-module>

    <access origin="*.testfairy.com" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TestFairy">
                <param name="ios-package" value="CDVTestFairy" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVTestFairy.h" />
        <source-file src="src/ios/CDVTestFairy.m" />
        <framework src="TestFairy" type="podspec" spec="~> 1.28.2" />
    </platform>
    <platform name="android">
        <source-file src="src/android/CDVTestFairy.java" target-dir="src/com/testfairy" />
        <framework src="src/android/rules.gradle" custom="true" type="gradleReference" />
        <config-file target="config.xml" parent="/*">
            <feature name="TestFairy">
                <param name="android-package" value="com.testfairy.CDVTestFairy" />
            </feature>
        </config-file>
    </platform>
</plugin>
