<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.testfairy.cordova-plugin" version="1.4.4">
    <name>TestFairy Plugin</name>
    <description>TestFairy SDK plugin for Cordova</description>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=2.9.0" />
	<!--
        <engine name="cordova-android" version=">=3.1.0" />
	-->
    </engines>

    <js-module src="www/testfairy.js" name="TestFairy">
        <clobbers target="TestFairy" />
    </js-module>

    <access origin="*.testfairy.com" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="TestFairy">
                <param name="ios-package" value="CDVTestFairy" />
            </feature>
        </config-file>
        <header-file src="src/ios/TestFairy.h" />
        <header-file src="src/ios/CDVTestFairy.h" />
        <source-file src="src/ios/CDVTestFairy.m" />
        <source-file src="src/ios/libTestFairy.a" framework="true" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreLocation.framework" />
    </platform>
</plugin>
